*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html{
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header{

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(hero.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    text-transform: uppercase;
}
.textBox h1{
    text-transform: uppercase;
    font-size: 60px;
    font-weight: 300;
}

.nav, img{
    height: 100px;
    width: auto;
    max-width: fit-content;
}



.textBox{
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 125%;
    font-weight: 100;
    word-spacing: 4;
}
.textBox h1{
    text-transform: uppercase;
}
.row{
    display: flex;
    justify-content: space-evenly;

    }

.row ul{
    display: flex;
    
    align-items: center;
}


.row li{
    list-style-type: none; 
    padding: 0 30px;
   
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    text-decoration: underline orange;
    text-underline-offset: 6px;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    border-color: #555;
    color: #fff;
}

.btn:hover, .btn:active{
    background-color: orange;
}

.btn-full{
    background-color: orange;
    border: 1px solid orange;
    color: #fff;
}

.btn-ghost{
    border: 1px;
    color: orange;
    transition: color 0.2;
}

.btn-full:hover, .btn-full:active{
    border: 1px solid orange;
}

.btn-ghost:hover, .btn-ghost:active{
    border: 1px solid orange;
    color: #fff;
}


.body1 h2{
    text-transform: uppercase;
}

.body1 h3{
    text-transform: uppercase;
}

.bodyHeader{
    text-align: center;
    padding: 20px;
}
.bodyHeader p{
    padding: 10px 0px 20px 0px;
}

.bodyHeader h2{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
}

.bodyHeader h2:after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: orange;
    content: " ";
    margin: auto;
    margin-top: 20px;
}

.bodyBoxs{
    display: flex;
    height: 450px;
    padding: 0 100px;

}

.box{
    width: 300px;
    margin: 0 auto;
}

.box p{
    padding: 10px;
}

.box h3{
    padding: 10px;
}

.ionImg{
    font-size: 65px;
    color: orange;
    --ionicon-stroke-width: 25px;
}


.favMeals{
    padding-top: 20px;
    overflow: hidden;
}

.group1, .group2{
    display: flex;
    background-color: black;
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.favImgs{
    opacity: 0.7;
    transform: scale(1.05);
    transition: transform 0.5s, opacity 0.5s;
    overflow: hidden;
}


.favImgs img{
    width: 100%;
    height: auto;
    overflow: hidden;
}

.favImgs:hover{
    opacity: 1;
    transform: scale(1.15); 
    overflow: hidden;
}

.hiwHeader{

    text-align: center;
    padding: 20px;
}

.hiwHeader h2:after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: orange;
    content: " ";
    margin: auto;
    margin-top: 20px;
}

.hiwHeader h2{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
}
.hiw{
    background-color: #e0e0e0;
}

.hiwBody{
    display: flex; 
    justify-content: end;
    align-items: center;
    padding-right: 200px;
}

.hiwTexts{
    padding-left: 50px;
}
.phone img{
    width: 250px;
    height: auto;
    padding-bottom: 50px;
}


.steps{
    display: flex;
    align-items: end;
    gap: 3px;
    padding: 25px;
}

.steps div{
    border: 2px solid orange;
    border-radius: 50%;
    text-align: center;
    width: 45px;
    font-size: 35px;
}

.hiwFooter img{
    height: 50px;
    width: auto;
}

.hiwFooter{
    display: flex;
    padding-left: 25px;
    padding-top: 75px;
}



.wCHeader h2:after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: orange;
    content: " ";
    margin: auto;
    margin-top: 20px;
}
.wCHeader{
    text-align: center;
    padding: 20px;
}

.wCHeader h2{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
}

.wCBody{
    padding: 0px 100px;
}

.box{
    padding: 20px;
}

.boxes{
    display: flex;
    max-width: 100%;
}

.box img{
    width: 100%;
    height: auto;
}

.sec3 a{
    color: orange;
}

.workingCities{
    background-color: white;
    height: 500px;
    justify-content: center;
    padding: 20px 0;
}

.sec1, .sec2, .sec3{
    padding: 3px;
}

.wCIcon{
    color: orange;
}

.sec3 .wCIcon:hover{
    transition: color 0.3s ease;
    color: rgb(29, 161, 242);
}


.qHeader h2:after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: orange;
    content: " ";
    margin: auto;
    margin-top: 20px;
}

.qHeader{
    text-align: center;
    color: white;
    font-size: 25px;
    padding: 50px 0 30px 0;
}

.qHeader h2{
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
}

.quotes{
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(back-customers.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}

.qBody{
    display: flex;
    justify-content: center;
    padding: 0px 100px 0px 100px;
    color: white;
}

.qBody img{
    border-radius: 50%;
    width: 50px;
    height: auto;
}

.quotePic{
    font-size: 100px;
    font-weight: 400;
    padding-left: 20px;
}

.cust{
    display: flex;
    align-items: center;
    padding: 40px 0px 0px 20px;

}

.qBox blockquote{
    padding: 20px 30px 20px 20px;
}

.cust cite{
    padding-left: 20px;
}

.subHeader h2:after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: orange;
    content: " ";
    margin: auto;
    margin-top: 20px;   
}

.subHeader{
    text-align: center;
    padding: 50px;
    
}

.subHeader h2{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
}

.subBody{
    display: flex;
    justify-content: center;
}

.premium, .pro, .starter{
    padding: 50px;
    width: 400px;
}

.premium ul, .pro ul, .starter ul{
    list-style-type: none;
}


.preHeader, .proHeader, .strHeader{
    background-color: rgb(252, 252, 252);
    padding: 10px;
}

.preHeader h3, .proHeader h3, .strHeader h3{
    padding: 5px 0 5px 10px;
    font-weight: 300;
}
.price{
    font-size: 50px;
    font-weight: 200;
    color: orange;
    padding: 5px;
}

.price span{
    font-size: 20px;
    font-weight: 300;
}

.desc{
    padding: 10px 0 10px 10px;
    font-weight: 300;
}


.preBody, .proBody, .strBody{
    background-color: rgb(252, 252, 252);
    border-top: 1px solid rgba(110, 110, 110, 0.315);
    border-bottom: 1px solid rgba(110, 110, 110, 0.315);
    padding: 15px;
}

.preBody li, .proBody li, .strBody li{
    padding: 5px;
}

.preFooter, .proFooter, .strFooter{
    background-color: rgb(252, 252, 252);
    height: 60px;
    text-align: center;
    padding-top: 17px;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}

.preFooter a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    border: 3px solid orange;
    border-radius: 300px;
    padding: 6px;
    background-color: orange;
}

.proFooter a, .strFooter a{
    color: white;
    font-weight: 300;
    text-decoration: none;
    border: 1px solid orange;
    border-radius: 300px;
    padding: 6px;
    color: orange;
}


.subscription{
    background-color: rgb(240, 240, 240);
    height: 700px;
}


.map{
  position: relative;
  width: 100%;
  height: 100%; 
  overflow: hidden;
 position: relative;
}

.map iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  z-index: 0;
  pointer-events: none;
}


.contact{
    height: 600px;
    width: 100%;
    position: relative;
}

.notMap{
    width: 50%;
    height: 550px;
    position: absolute;
    top: 0%;
    left: 50%;
    background-color: rgba(240, 240, 240, 0.7);
}

.conHeader{
    text-align: center;
    padding: 20px;
}

.conHeader h2:after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: orange;
    content: " ";
    margin: auto;
    margin-top: 20px;   
}

.conHeader{
    text-align: center;
    padding: 30px;
    
}

.conHeader h2{
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 300;
}

.name{
    display: flex;
    padding-bottom: 20px;
    padding-left: 40px;
}

.name p{
    padding-right: 200px;
}


.email{
    display: flex;
    padding-bottom: 20px;
    padding-left: 40px;
}
.email p{
    padding-right: 205px;
}

.find{
    display: flex;
    padding-bottom: 20px;   
    padding-left: 40px;
}
.find p{
    padding-right: 78px;
}

.news{
    display: flex;
    padding-bottom: 20px;
    padding-left: 40px;
}

.news p{
    padding-right: 15px;
}

.feedback{
    display: flex;
    padding-bottom: 20px;
    padding-left: 40px;
    
}

.feedback p{
    padding-right: 127px;
}

.submit{
    display: flex;
}

.name input{
    width: 300px;
    height: 30px;
    border: 1px solid #555;
    border-radius: 5px;
    padding-left: 10px;
}

.email input{
    width: 300px;
    height: 30px;
    border: 1px solid #555;
    border-radius: 5px;
    padding-left: 10px;
}

.find select{
    width: 300px;
    height: 30px;
    border: 1px solid #555;
    border-radius: 5px;
    padding-left: 10px;
}

.checkbox{
    width: 30px;
    height: 30px;
    border: 1px solid #555;
    border-radius: 5px;
    margin-left: 133px;
    margin-right: 20px;

}

.feedback textarea{
    width: 300px;
    height: 100px;
    border: 1px solid #555;
    border-radius: 5px;
    padding-left: 10px;
}

.submit{
    width: 50px;
    height: 40px;
    margin-left: 292px;
}

.name input:focus{
    outline: none;
}

.email input:focus{
    outline: none;
}

.find select:focus{
    outline: none;
}

.feedback textarea:focus{
    outline: none;
}

.footer{
    height: 200px;
    width: 100%;
    background-color: #333;
    color: white;
}

.links1 ul{
    display: flex;
    padding: 50px;
    list-style: none;
}

.links1 a{
    padding: 0 20px;
}

.links2 ul{
    display: flex;
    padding: 50px;
    padding-left: 475px;
    list-style: none;
}

.fdooter{
    padding: 10px;
}

.dooter1:hover{
    color: rgb(48, 48, 222);
}

.dooter2:hover{
    color: rgb(66, 163, 233);
}

.dooter3:hover{
    color:red;
}

.dooter4:hover{
    color: #de4d65;
}
.links{
    display: flex;
}

.copyright{
    text-align: center;
}

footer a{
    color: white;
    text-decoration: none;
}