*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.lato-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

html{
    color: #555;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

header{

    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(hero.jpg);
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
    text-transform: uppercase;
}

.nav, img{
    height: 100px;
    width: auto;
    max-width: fit-content;
}



.textBox{
    width: 1140px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 125%;
    font-weight: 100;
    word-spacing: 4;
    text-transform: capitalize;
}
.textBox h1{
    text-transform: uppercase;
}
.row{
    display: flex;
    justify-content: space-evenly;

    }

.row ul{
    display: flex;
    
    align-items: center;
}


.row li{
    list-style-type: none; 
    padding: 0 30px;
   
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
}

nav a:hover{
    text-decoration: underline orange;
    text-underline-offset: 6px;
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    border-radius: 200px;
    border-color: #555;
    color: #fff;
}

.btn:hover, btn:active{
    background-color: orange;
}

.btn-full{
    background-color: orange;
    border: 1px solid orange;
    color: #fff;
}

.btn-ghost{
    border: 1px;
    color: orange;
    transition: color 0.2;
}

.btn-full:hover, .btn-full:active{
    border: 1px solid orange;
}

.btn-ghost:hover, .btn-ghost:active{
    border: 1px solid orange;
    color: #fff;
}


.body1 h2{
    text-transform: uppercase;
}

.body1 h3{
    text-transform: uppercase;
}

.bodyHeader{
    text-align: center;
    padding: 20px;
}
.bodyHeader p{
    padding: 10px 0px 20px 0px;
}

.bodyHeader h2{
    padding: 20px 0px 10px 0px;
    font-size: 50px;
}

.bodyHeader h2:after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: orange;
    content: " ";
    margin: auto;
    margin-top: 20px;
}

.bodyBoxs{
    display: flex;
    height: 300px;

}

.box{
    width: 300px;
    margin: 0 auto;
}

.box p{
    padding: 10px;
}

.box h3{
    padding: 10px;
}

.ionImg{
    font-size: 65px;
    color: orange;
    --ionicon-stroke-width: 25px;
}


.favMeals{
    padding-top: 20px;
}

.group1, .group2{
    display: flex;
    background-color: black;
    width: 100%;
    margin: 0;
    overflow: hidden;

}

.favImgs{
    opacity: 0.7;
    transform: scale(1.15);
    transition: transform 0.5s, opacity 0.5s;
    
}


.favImgs img{
    width: 100%;
    height: auto;
}

.favImgs:hover{
    opacity: 1;
    transform: scale(1.05); 
}

.hiwHeader{

    text-align: center;
    padding: 20px;
}

.hiwHeader h2:after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: orange;
    content: " ";
    margin: auto;
    margin-top: 20px;
}


.hiwBody{
    display: flex;
    flex-direction: column;

}

